@page
@model  CRM.Pages.AssetMaster.CreateModel

@{
    Layout = "_Layout";
}

<div class="card m-3 border-light">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">@(Model.AssetMaster.Id != 0 ? "Edit" : "Create") Asset</h3>
    <br />
    <div class="card-body">
        <form method="post">
            @if (Model.AssetMaster.Id != 0)
            {
                <input type="hidden" asp-for="AssetMaster.Id" />
            }
            <div class=" text-danger" asp-validation-summary="ModelOnly"></div>
            <div class=" form-group row">
                <div class=" col-2 offset-2">
                    <label asp-for="AssetMaster.ManufacturerNumber">Manufacturer Number<span class="text-danger">*</span></label>
                </div>
                <div class=" col-6">
                    <input asp-for="AssetMaster.ManufacturerNumber" class="form-control" id="ManufacturerNumber" required />
                </div>
            </div>
            <div class="form-group row m-2">
                <div class=" offset-4">
                    <span asp-validation-for="AssetMaster.ManufacturerNumber" class="text-danger"></span>
                </div>
            </div>
            @if (ViewData["ManufacturerNoExistMessage"] != null)
            {
                <div class="form-group row m-2">
                    <div class=" offset-4">
                        <span class="text-danger">@ViewData["ManufacturerNoExistMessage"]</span>
                    </div>
                </div>
            }
          
            <div class=" form-group row mt-3">
                <div class=" col-2 offset-2">
                    <label asp-for="AssetMaster.Name">Asset Name <span class="text-danger">*</span></label>
                </div>
                <div class=" col-6">
                    <input asp-for="AssetMaster.Name" class="form-control" id="AssetName" required />
                </div>

            </div>
           
            <div class="form-group row m-2">
                <div class=" offset-4">
                    <span asp-validation-for="AssetMaster.Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row mt-3">
                <div class=" col-2 offset-2">
                    <label asp-for="AssetMaster.TeamverseAssetNumber" class="control-label">Teamverse Asset Number</label>
                </div>
                <div class=" col-6">
                    <input asp-for="AssetMaster.TeamverseAssetNumber" class="form-control" id="TeamverseAssetNumber" required />
                </div>
            </div>
            <div class="form-group row m-2">
                <div class=" offset-4">
                    <span asp-validation-for="AssetMaster.TeamverseAssetNumber" class="text-danger"></span>
                </div>
            </div>
            @if (ViewData["TVANExistMessage"] != null)
            {
                <div class="form-group row m-2">
                    <div class=" offset-4">
                        <span class="text-danger">@ViewData["TVANExistMessage"]</span>
                    </div>
                </div>
            }
            <div class="form-group row mt-3">
                <div class=" col-2 offset-2">
                    <label asp-for="AssetMaster.AssetTypeId" class="control-label">Asset Type</label>
                </div>
                <div class=" col-6">
                    <select asp-for="AssetMaster.AssetTypeId" class="form-control" asp-items="ViewBag.AssetTypeId">
                    </select>
                </div>
            </div>

            <div class="form-group row mt-3">
                <div class=" col-2 offset-2">
                    <label asp-for="AssetMaster.PurchasedOn" class="control-label">Purchased on</label>
                </div>
                <div class=" col-6">
                    <input asp-for="AssetMaster.PurchasedOn" class="form-control" type="date" />
                </div>
            </div>
            <div class="form-group row m-2">
                <div class=" offset-4">
                    <span asp-validation-for="AssetMaster.PurchasedOn" class="text-danger"></span>
                </div>
            </div>
            

            @*<div class="form-group row mt-3">
                <div class=" col-2 offset-2">
                    <label asp-for="AssetMaster.LastUpdatedBy" class="control-label">Last Updated By</label>
                </div>
                <div class=" col-6">
                    <select asp-for="AssetMaster.LastUpdatedBy" class="form-control" asp-items="ViewBag.LastUpdatedBy"></select>
                </div>
            </div>*@
            <div class=" form-group row mt-3">
                <div class=" col-2 offset-2">
                    <label asp-for="AssetMaster.Condition">Asset Condition</label>
                </div>
                <div class=" col-6">
                    <select asp-for="AssetMaster.Condition" class="form-control" asp-items="Html.GetEnumSelectList<CRM.Models.AssetCondition>()"></select>

                </div>
                <span asp-validation-for="AssetMaster.Condition" class="text-danger"></span>
            </div>

            <div class=" form-group row mt-3">
                <div class="col-3 offset-3">
                    <button type="submit" id="btnAssetMasterSubmit" class="btn btn-primary form-control">@(Model.AssetMaster.Id != 0 ? "Update" : "Create")</button>

                </div>
                <div class=" col-3">
                    <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>
@*<div class="container col-sm-3">
    <h4 class=" text-info ">Add New Asset</h4>
</div>
<br />
<div class="border container" style=" padding:30px;">

    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group row">
            <div class=" col-2 offset-2">
                <label asp-for="AssetMaster.ManufacturerNumber" class="control-label">Manufacturer Number</label>
            </div>
            <div class=" col-6">
                <input asp-for="AssetMaster.ManufacturerNumber" class="form-control" />
            </div>
        </div>
        <div class="form-group row m-2">
            <div class=" offset-4">
                <span asp-validation-for="AssetMaster.ManufacturerNumber" class="text-danger"></span>
            </div>

        </div>

        <div class="form-group row mt-3">
            <div class=" col-2 offset-2">
                <label asp-for="AssetMaster.Name" class="control-label">Asset Name</label>
            </div>
            <div class=" col-6">
                <input asp-for="AssetMaster.Name" class="form-control" />
            </div>
        </div>
        <div class="form-group row m-2">
            <div class=" offset-4">
                <span asp-validation-for="AssetMaster.Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class=" col-2 offset-2">
                <label asp-for="AssetMaster.TeamverseAssetNumber" class="control-label">Teamverse Asset Number</label>
            </div>
            <div class=" col-6">
                <input asp-for="AssetMaster.TeamverseAssetNumber" class="form-control" />
            </div>
        </div>
        <div class="form-group row m-2">
            <div class=" offset-4">
                <span asp-validation-for="AssetMaster.TeamverseAssetNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class=" col-2 offset-2">
                <label asp-for="AssetMaster.AssetTypeId" class="control-label">Last Updated By</label>
            </div>
            <div class=" col-6">
                <select asp-for="AssetMaster.AssetTypeId" class="form-control" asp-items="ViewBag.AssetTypeId">
                   
                </select>
            </div>
        </div>

        <div class="form-group row mt-3">
            <div class=" col-2 offset-2">
                <label asp-for="AssetMaster.PurchasedOn" class="control-label">Purchased on</label>
            </div>
            <div class=" col-6">
                <input asp-for="AssetMaster.PurchasedOn" class="form-control" type="date"/>
            </div>
        </div>
        <div class="form-group row m-2">
            <div class=" offset-4">
                <span asp-validation-for="AssetMaster.PurchasedOn" class="text-danger"></span>
            </div>
        </div>
        <div class=" form-group row mt-3">
            <div class=" col-2 offset-2">
                <label asp-for="AssetMaster.Condition">Asset Condition</label>
            </div>
            <div class=" col-6">
                <select asp-for="AssetMaster.Condition" class="form-control" asp-items="Html.GetEnumSelectList<AssetAllocation.Models.AssetCondition>()"></select>

            </div>
            <span asp-validation-for="AssetMaster.Condition" class="text-danger"></span>
        </div>
       
        <div class="form-group row mt-3">
            <div class=" col-2 offset-2">
                <label asp-for="AssetMaster.LastUpdatedBy" class="control-label">Last Updated By</label>
            </div>
            <div class=" col-6">
                <select asp-for="AssetMaster.LastUpdatedBy" class="form-control" asp-items="ViewBag.LastUpdatedBy"></select>
            </div>
        </div>

      

        <div class=" form-group row mt-3">
            <div class="col-3 offset-3">
                <input type="submit" value="Add Asset" class="btn btn-primary form-control" />

            </div>
            <div class=" col-3">
                <a asp-page="Index" class="btn btn-success form-control">Back to List</a>
            </div>
        </div>
    </form>

</div>

*@

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }


@*<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AssetMaster.ManufacturerNumber" class="control-label"></label>
                <input asp-for="AssetMaster.ManufacturerNumber" class="form-control" />
                <span asp-validation-for="AssetMaster.ManufacturerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetMaster.Name" class="control-label"></label>
                <input asp-for="AssetMaster.Name" class="form-control" />
                <span asp-validation-for="AssetMaster.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetMaster.TeamverseAssetNumber" class="control-label"></label>
                <input asp-for="AssetMaster.TeamverseAssetNumber" class="form-control" />
                <span asp-validation-for="AssetMaster.TeamverseAssetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetMaster.AssetTypeId" class="control-label"></label>
                <select asp-for="AssetMaster.AssetTypeId" class ="form-control" asp-items="ViewBag.AssetTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AssetMaster.PurchasedOn" class="control-label"></label>
                <input asp-for="AssetMaster.PurchasedOn" class="form-control" />
                <span asp-validation-for="AssetMaster.PurchasedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetMaster.CreatedOn" class="control-label"></label>
                <input asp-for="AssetMaster.CreatedOn" class="form-control" />
                <span asp-validation-for="AssetMaster.CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssetMaster.Condition" class="control-label"></label>
                <select asp-for="AssetMaster.Condition" class="form-control"></select>
                <span asp-validation-for="AssetMaster.Condition" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="AssetMaster.IsDeleted" /> @Html.DisplayNameFor(model => model.AssetMaster.IsDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="AssetMaster.LastUpdatedBy" class="control-label"></label>
                <select asp-for="AssetMaster.LastUpdatedBy" class ="form-control" asp-items="ViewBag.LastUpdatedBy"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@